@charset "UTF-8";
$main-color:#337ab7;
$sub-font-color: #606266;
$main-font-color: #24292e;
$em-color:#c93838;
$border-color:#eee;
@mixin clearfix
{
    &:after
    {
        display: block;
        clear: both;

        height: 0;

        content: '\200B';
    }
}

@mixin clamp($value)
{
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: $value;
}

@mixin ellipsis
{
	white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
